<h1>THIS IS ABOUT ME</h1>
<h1>angular</h1>
<h1>javascript</h1>
<h1>css</h1>
<img [src]="pic" width="200px"/>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, autem modi quos reprehenderit dignissimos ipsum illo unde dicta magni dolore enim aut quaerat alias rerum iure optio facere vitae est?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis perspiciatis molestias, ex nulla nesciunt inventore molestiae id eos sit consequuntur maiores, dolore, cupiditate sequi! Dolorum velit deleniti ab esse quisquam?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quidem, ullam autem dolore omnis est doloremque laborum animi earum reiciendis aliquid at laudantium iure excepturi, dignissimos nesciunt mollitia soluta aut.
</p>
