

<h1>VERZEO MAJOR PROJECT IN ANGULAR</h1>

{{coursename|uppercase}}
<br>
{{course|uppercase}}
<br>
{{name|uppercase}}
<br>
{{price|currency:'INR'}}
<br>

<img [src]="pic" width="200px"/>

<br>
<span *ngFor="let S of names"><br>
    HOW ARE YOU {{S}}
</span>


<h3><a routerLink="home">HOME</a></h3>

<h3><a routerLink="aboutus">ABOUT US</a></h3>
<h3><a routerLink="courses">COURSES</a></h3>
<h3><a routerLink="services">SERVICES</a></h3>
<h3><a routerLink="contact">CONTACT</a></h3>
<router-outlet></router-outlet>




