<h1>IN ANGULAR WE LERN WHAT IS ANGULAR</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nam architecto qui autem natus doloribus ut rerum minima a necessitatibus, ipsa similique! Architecto, inventore nulla? Minima doloremque fuga incidunt sunt?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusamus similique sit maxime ipsa blanditiis, excepturi temporibus eum aspernatur at reprehenderit sint perferendis, voluptatum doloremque sapiente suscipit, saepe omnis quod!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum non dignissimos, quis, voluptate sed cupiditate dolor necessitatibus eveniet in nulla ut ipsum tenetur itaque eaque a similique! Voluptatibus, velit minima.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates delectus quia dolore incidunt ab eaque voluptatem asperiores nesciunt praesentium similique voluptatum, reiciendis obcaecati neque, deleniti sed quae? Ad, alias omnis.
</p>
